workflow/txt-to-img.json
{
  "name": "txt-to-img",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "texttoimage",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -144
      ],
      "id": "1bfb6597-1911-44f7-8ae8-b245e0a789c1",
      "name": "Webhook",
      "webhookId": "e36b6556-7c9e-4088-8494-8f8f3337d154"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemma3:1b",
          "mode": "list",
          "cachedResultName": "gemma3:1b"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.body.prompt }}"
            }
          ]
        },
        "options": {
          "system": "You are a prompt enhancer for AI image generation.\n\nYour task:\n- Take the user's input and convert it into a single, highly detailed, vivid image generation prompt.\n- Improve clarity, add visual details, lighting, environment, style, and composition.\n\nSTRICT RULES:\n- Output ONLY one final prompt string.\n- DO NOT explain anything.\n- DO NOT ask questions.\n- DO NOT add headings, bullet points, or extra text.\n- DO NOT include phrases like \"Here is\" or \"Detailed description\".\n- DO NOT include line breaks.\n\nThe output must be a single clean sentence or paragraph suitable for direct use in image generation models."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -416,
        -144
      ],
      "id": "610492e5-06ec-414a-bd7b-a8f1b57dcd0f",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "eUwidbAinTzAB6Vg",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        -144
      ],
      "id": "ecbf7813-a504-42de-b2f4-9fce252d0d7f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8188/prompt",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": {\n    \"1\": {\n      \"class_type\": \"CheckpointLoaderSimple\",\n      \"inputs\": {\n        \"ckpt_name\": \"v1-5-pruned-emaonly.safetensors\"\n      }\n    },\n    \"2\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": \"{{ $json.content }}\",\n        \"clip\": [\"1\", 1]\n      }\n    },\n    \"3\": {\n      \"class_type\": \"CLIPTextEncode\",\n      \"inputs\": {\n        \"text\": \"blurry, low quality\",\n        \"clip\": [\"1\", 1]\n      }\n    },\n    \"4\": {\n      \"class_type\": \"EmptyLatentImage\",\n      \"inputs\": {\n        \"width\": 512,\n        \"height\": 512,\n        \"batch_size\": 1\n      }\n    },\n    \"5\": {\n      \"class_type\": \"KSampler\",\n      \"inputs\": {\n        \"model\": [\"1\", 0],\n        \"positive\": [\"2\", 0],\n        \"negative\": [\"3\", 0],\n        \"latent_image\": [\"4\", 0],\n        \"seed\": 12345,\n        \"steps\": 20,\n        \"cfg\": 8,\n        \"sampler_name\": \"euler\",\n        \"scheduler\": \"normal\",\n        \"denoise\": 1\n      }\n    },\n    \"6\": {\n      \"class_type\": \"VAEDecode\",\n      \"inputs\": {\n        \"samples\": [\"5\", 0],\n        \"vae\": [\"1\", 2]\n      }\n    },\n    \"7\": {\n      \"class_type\": \"SaveImage\",\n      \"inputs\": {\n        \"images\": [\"6\", 0],\n        \"filename_prefix\": \"n8n_output\"\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -64,
        -144
      ],
      "id": "96fcb105-f0dc-4c2f-abdd-0648965303e9",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=http://host.docker.internal:8188/history/{{$json[\"prompt_id\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        256,
        -144
      ],
      "id": "9131857a-72f6-4bd8-93de-53aae9e6c6ec",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 40
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        -144
      ],
      "id": "44525bcd-1e43-4427-be66-b93c2097c423",
      "name": "Wait",
      "webhookId": "697869bd-493e-4457-8306-33878a781ee5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78c2b1e7-5b15-4a86-a808-83c0d45a883e",
              "name": "image_url",
              "value": "=http://localhost:8188/view?filename={{ $json[$('HTTP Request').item.json.prompt_id].outputs['7'].images[0].filename }}&type=output",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -144
      ],
      "id": "b850e434-faf8-427c-9261-d1c7f71da570",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "42db6cb4-1702-46d7-8ab6-2d8a63077327",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b3985cff2688480d1d9c65480ace1e2cb0bb745e79349a17b36cf6566bb39c97"
  },
  "id": "zeWWaDYTSMzUrKqd",
  "tags": []
}